/* Used to style the flash message object */

.is-danger {
  background-color: var(--color-error);
  border-color: var(--color-error);
  color: var(--color-text);
}

.is-success {
  background-color: var(--color-success);
  border-color: var(--color-success);
  color: var(--color-text);
}

.is-info {
  background-color: var(--color-bg);
  border-color: var(--color-bg-accent);
  color: var(--color-text);
}

.is-warn {
  background-color: var(--color-warn);
  border-color: var(--color-warn);
  color: var(--color-text);
}

.is-hidden {
  display: none !important;
}
