
<script>{% getBundle "js", "inline" %}</script>
<script src="https://kit.fontawesome.com/6d1737b101.js" crossorigin="anonymous"></script>

{%- js "inline" %} <!-- inlined for all pages -->
{% include "scripts/is-land.js" %}
{% include "scripts/theme-toggle.js" %}
{% include "scripts/highlight.js" %}
{% endjs %}
