---
layout: page
title: Contact
description: A place for people to contact me directly via submit form. I will get back to you as soon as I am available.
permalink: 'contact/index.html'
---

<custom-masonry layout="50-50">
  <div class="">
    <article class="full">
      <div class="flow prose">{{ content | safe }}</div>
    </article>
  </div>
  <div>
    <div id="contactFlash is-hidden"></div>
    <form method="POST" class="" id="contactForm" action="#">
      <div class="contactFlash"></div>
      <div class="">
        <label for="messageName" class="block text-sm font-medium">Name</label>
        <input type="text" class="input form-input" placeholder="Your name..." required />
      </div>
      <div class="mt-m">
        <label for="messageEmail" class="block text-sm font-medium">Email</label>
        <input type="email" class="input form-input" placeholder="example@kablamo.me" required />
      </div>
      <div class="mt-m">
        <label for="messageEmail" class="block text-sm font-medium">Phone</label>
        <input type="tel" class="input form-input" placeholder="+1 (555) 555-5555" />
      </div>
      <div class="mt-m">
        <label for="contactMessage" class="block text-sm font-medium">Message</label>
        <textarea
          id="contactMessage"
          class="input form-textarea"
          rows="9"
          cols="32"
          placeholder="Enter your message..."
          required
        ></textarea>
      </div>
      <div class="mt-m">
        <p>
          <h-captcha
            id="h-captcha"
            site-key="{{ env.HCAPTCHA_SITE_KEY }}"
            size="normal"
            tabindex="0"
          ></h-captcha>
        </p>
        <button class="button mt-m" id="contactSubmitBtn" disabled>Submit</button>
      </div>
    </form>
  </div>
</custom-masonry>

<script src="/assets/scripts/bundle/contact.js" async defer></script>
<script src="/assets/scripts/bundle/hcaptcha/index.min.js"></script>
