---
layout: base
schema: blog
---

<article class="region blog" style="--region-space-top: var(--space-xl-2xl)">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>

    {% if image %}
      <!-- image -->
      {% image image, alt or title, credit, "eager", "feature" %}
    {% endif %}

    <p class="meta | cluster" style="--gutter: var(--space-xs-s)">
      <!-- date -->
      {% set definedDate = date %} {% include "partials/date.njk" %}
      {%
        if tags.length >
        1
      %}
        <!-- tags -->
        {% for tag in tags %}{% if tag != "posts" %}
          <a class="button post-tag" href="/tags/{{ tag }}"> {{ tag }} </a>
        {% endif %}{% endfor %}
      {% endif %}
    </p>

    {{ content | safe }}
  </div>

  <!--  h-card infos: https://indieweb.org/authorship -->
  <div hidden class="h-entry">
    <a class="u-url" href="{{ page.url | url | absoluteUrl(meta.url) }}">{{ title }}</a>
    <a class="p-name u-url" rel="author" href="{{ meta.url }}">{{ meta.author.name }}</a>
    <img
      class="u-author h-card"
      src="{{ meta.author.avatar | url | absoluteUrl(meta.url) }}"
      alt="{{ meta.author.name }}"
    />
  </div>
  <div
    id="cusdis_thread"
    class="mt-xl wrapper flow prose"
    style="color: --var(color-bg)"
    data-host="https://cusdis.com"
    data-app-id="{{ env.CUSDIS_APP_ID }}"
    data-page-id="{{ page.url }}"
    data-page-url="{{ meta.url ~ page.url }}"
    data-page-title="{{ title }}"
    data-theme="auto"
  ></div>
  <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
</article>
