---
layout: page
title: Projects
description: 'My current projects'
permalink: 'projects/index.html'
---

<ul>
  {% for repo in collections.github %} {% set details = repo | repoDetails %}
  <li>
    <h2><a href="{{ repo.html_url }}">{{ repo.name }}</a></h2>
    <p>{{ repo.description }}</p>
  </li>

  <li>
    <p>{{ repo.description }}</p>
    <p>
      Languages: {% for lang, value in details.languages %}{{ lang }}{% if not loop.last %}, {% endif %}{%
      endfor %}
    </p>
  </li>
  <p>Latest release: {{ repo.details.latest_release.value }}</p>
  {% endfor %}
</ul>
