<custom-card>
  <h3 slot="headline">{{ repo.name }}</h3>
  <p slot="image">asdasd</p>
  <p slot="date">poiopi</p>
  <p slot="tag">;lkl;k</p>
  <p slot="content">,.m,.m</p>
  <p slot="footer">zxczxcv</p>
</custom-card>
