<custom-card>
  <h2 slot="headline">{{repoData.name}}</h2>
  <span slot="date">
    {% if repoData.latest_release != null %}<span><b>Version:</b> {{repoData.latest_release}} | </span>{% endif %}
    <span><a href="{{repoData.html_url}}"><i class="fa-brands fa-github"></i></a></span>
  </span>
  <p slot="content" class="blog-content">{{repoData.description}}</p>
  <footer slot="footer" class="taglist">
    {% for language in repoData.details.languages %}
    <div class="button post-tag">{{ language }} </div>
    {% endfor %}
  </footer>
</custom-card>

{% css "inline" %}
  {% include "../../assets/css/components/custom-card.css" %}
  custom-card { margin-bottom: 3.5rem!important; }
  div.post-tag { margin-right: 0.05rem; }
{% endcss %}
