<custom-card>
  <h3 slot="headline">{{details.name}}</h3>
  <div slot="date">
    <span>Version: {{details.latest_release.tag}}</span>
    {% set definedDate = details.latest_release.published %}
    <span>Updated: {% include "partials/date.njk" %}</span>
    <span>Lines: {{details.languages.total}}</span>
  </div>
  <p slot="content" class="blog_content">{{details.description}}</p>
  <p slot="tag">
    {% for lang in details.languages.languages %}
    <span class="button post-tag">{{ language }}</span>
    {% endfor %}
  </p>
</custom-card>

{% css "inline" %}
  {% include "../../assets/css/components/custom-card.css" %}
{% endcss %}
